# dependencies
node_modules/
package-lock.json

# build outputs
dist/
build/

# system files
.DS_Store
Thumbs.db
debug.log

# env
.env


#Ignore insiders AI rules
.github\instructions\codacy.instructions.md
