path\to\largefile
node_modules/
*.tar.gz
*.zip
Assets-backup/
downloads/
**/.DS_Store
.idea
.vscode/
*~
.env
.env.test
kubo/ipfs.exe
workingcopy
node.js
.env
80ebd892e (# 1. Add all changes (new files, edits, deletions) git add -A  # 2. Commit with a message git commit -m "Your commit message here"  # 3. Push to the main branch on GitHub git push origin main)
.DS_Store
node_modules/
*.log
*.lock
build/
google-cloud-sdk/
*.jar
*.war

